In [ ]:
# IMPORTANT: SOME KAGGLE DATA SOURCES ARE PRIVATE
# RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES.
import kagglehub
kagglehub.login()

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

titanic_path = kagglehub.competition_download('titanic')
house_prices_advanced_regression_techniques_path = kagglehub.competition_download('house-prices-advanced-regression-techniques')
primaryobjects_voicegender_path = kagglehub.dataset_download('primaryobjects/voicegender')
shivam2503_diamonds_path = kagglehub.dataset_download('shivam2503/diamonds')
tmdb_tmdb_movie_metadata_path = kagglehub.dataset_download('tmdb/tmdb-movie-metadata')
zynicide_wine_reviews_path = kagglehub.dataset_download('zynicide/wine-reviews')
mlg_ulb_creditcardfraud_path = kagglehub.dataset_download('mlg-ulb/creditcardfraud')
unsdsn_world_happiness_path = kagglehub.dataset_download('unsdsn/world-happiness')
shivamb_netflix_shows_path = kagglehub.dataset_download('shivamb/netflix-shows')
ruchi798_data_science_job_salaries_path = kagglehub.dataset_download('ruchi798/data-science-job-salaries')
nancyalaswad90_diamonds_prices_path = kagglehub.dataset_download('nancyalaswad90/diamonds-prices')

print('Data source import complete.')

## Table of Contents(ToC):

#### 1. [The Basics](#content1)

#### 2. [Creating DataFrame](#content2)

#### 3. [Treating null values](#content3)

#### 4. [Modify/Add new column(s).](#content4)

#### 5. [Deleting columns](#content5)

#### 6. [Renaming columns](#content6)

#### 7.i. [Slicing DataFrame](#content7)

#### 7.ii. [Slicing using iloc and loc](#content8)

#### 8. [Adding a row](#content9)

#### 9. [Dropping row(s)](#content10)

#### 10. [Sorting](#content11)

#### 11. [Joins](#content12)

#### 12. [Groupby](#content13)

#### Importing modules.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

#### Importing data.

For this tutorial, we will use the standard Titanic Dataset.

In [ ]:
train=pd.read_csv(r'../input/titanic/train.csv')
df=train.copy()

<a id="content1"></a>
## 1. The Basics

In [ ]:
# See the first 5 rows
df.head()

In [ ]:
# last 5 rows.
df.tail()

In [ ]:
# n_samples x n_features
df.shape

In [ ]:
#List of all the columns
df.columns

In [ ]:
# Rows index
df.index

In [ ]:
# Values with their counts in a particular column
df['Pclass'].value_counts()

In [ ]:
# General description of dataset.
df.describe()

<a id="content2"></a>
## 2. Creating DataFrame

In [ ]:
# empty data frame
df_empty=pd.DataFrame()
df_empty.head()  #;)

In [ ]:
# From dict
student_dict={'Name':['A','B','C'],'Age':[24,18,17],'Roll':[1,2,3]}
df_student=pd.DataFrame(student_dict).reset_index(drop=True) # without this adds an additional index column in df
df_student.head()

<a id="content3"></a>
## 3. Treating null values

In [ ]:
df.head()

In [ ]:
# on whole df.
df.isnull().sum()

In [ ]:
# on a particular column
df['Age'].isnull().sum()

#### Impute null values

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'].isnull().sum()

In [ ]:
df['Sex'].fillna(df['Sex'].mode(),inplace=True)
df['Sex'].isnull().sum()

<a id="content4"></a>
## 4. Modify/Add new column(s).
Adding another column or modify a column.

In [ ]:
df.head()

In [ ]:
df['Sex']=df['Sex'].map({"male":'0',"female":"1"})
df.head()

In [ ]:
# Finding last name and first name from Name column.
df['last_name']=df['Name'].apply(lambda x: x.split(',')[0])
df['first_name']=df['Name'].apply(lambda x: ' '.join(x.split(',')[1:]))

In [ ]:
df.head()

In [ ]:
# Sets to 1 for men in 3rd class.
df['Thrid&Men']=df.apply(lambda row: int(row['Pclass']==3 and row['Sex']=="0"),axis=1)
df.head()

##### Calling some custom function.

In [ ]:
def findAgeGroup(age):
    if age<18:
        return 1
    elif age>=18 and age<40:
        return 2
    elif age>=40 and age<60:
        return 3
    else:
        return 4
df['Age_group']=df['Age'].apply(lambda x: findAgeGroup(x))
# Calling a custom function.

In [ ]:
df.head()

<a id="content5"></a>
## 5. Deleting columns

In [ ]:
df.head()

In [ ]:
df=df.drop(['PassengerId'],axis=1)
#df=df.drop(['PassengerId'],axis=1,inplace=True)
df.head()

<a id="content6"></a>
## 6. Renaming columns

In [ ]:
# Lets try to rename some columns.
df=df.rename(columns={'Sex':'Gender','Name':'Full Name','last_name':'Surname','first_name':'Name'})
df.head()

Similarly, we can do for whichever column we want.

<a id="content7"></a>
## 7.i Slicing DataFrame

In [ ]:
df.head()

In [ ]:
# All rows with pclass==3
df_third_class=df[df['Pclass']==3].reset_index(drop=True) # w/0 drop=True it actually adds a index column rather.
df_third_class.head()

In [ ]:
# Females with age > 60
df_aged=df[(df['Age']>60) & (df['Gender']=="1")]
df_aged.head()

**Note that all these three ladies were saved as they were senior citizen and women so they may have been given priority.**

In [ ]:
# Selecting some columns.
df1=df[['Age','Pclass','Gender']]
df1.head()

In [ ]:
# Select numerical columns only
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

df_num = df.select_dtypes(include=numerics)
df_num.head()

In [ ]:
# categorical columns
df_cat=df.select_dtypes(include=['object'])
df_cat.head()

<a id="content8"></a>
## 7.ii Slicing using iloc and loc

#### iloc

In [ ]:
df.head()

In [ ]:
# First 100 rows & all columns
df_sub1=df.iloc[0:100,:]
df_sub1.head()

In [ ]:
#First 250 rows with a subset of columns

#df_sub2=df.iloc[:250,['Age']]
# This will throw an error as iloc only consumes integres as indices.

df_sub2=df.iloc[:250,[1,8]]
#Returns first 250 rows and columns at those indices in df.columns.
df_sub2.head()

#### loc

In [ ]:
df.head()

In [ ]:
# First 500 rows.
df_sub3=df.loc[:500,:]

In [ ]:
# Gender and age of age >50
df_sub4=df.loc[(df['Age']>50),['Gender','Age']]
df_sub4.head()

<a id="content9"></a>
## 8. Adding a row

In [ ]:
df.head()

In [ ]:
# Adding row using 'append' function
row=dict({'Age':24,'Full Name':'Peter','Survived':'Y'})
df=df.append(row,ignore_index=True)
# assumes Nan for absent keys(columns)
df.tail()

In [ ]:
# Adding new row using loc
df.loc[len(df.index)]=row
df.tail()

<a id="content10"></a>
## 9. Dropping row(s)

In [ ]:
df=df.drop(df.index[-1],axis=0) # Deletes last row
df.head()

<a id="content11"></a>
## 10. Sorting

In [ ]:
df.head()

In [ ]:
# sorting by age say in decreasing order.
df=df.sort_values(by=['Age'],ascending=False) # can specify multiple columns in a list as well.
df.head()

<a id="content12"></a>
## 11. Joins

Let's create two separate data frames and try all 5 (Cross,Inner, Left, Right,and Outer Joins).

In [ ]:
sno=[i+1 for i in range(100)]
marks=np.random.randint(100,size=100)
print(len(marks))
marks_df=pd.DataFrame({'Sno':sno,'Marks':marks})
marks_df.head()

In [ ]:
sno=[i+1 for i in range(100)]
age=np.random.randint(100,size=100)
print(len(marks))
age_df=pd.DataFrame({'Sno':sno,'Age':age})
age_df.head()

#### Cross join

In [ ]:
cross_join=pd.merge(marks_df,age_df,how='cross')
print(cross_join.shape)
cross_join.head()

#### Inner Join

In [ ]:
inner_join=pd.merge(age_df,marks_df,how='inner',on='Sno') # 'how' defaults to 'inner' only.
print(inner_join.shape)
inner_join.head()

#### Left and Right Outer Join(s)

Lets add some more rows to either frame so that left and right outer join makes sense

In [ ]:
age_df.loc[len(age_df.index)]={'Sno':101,'Age':23}
age_df.loc[len(age_df.index)]={'Sno':102,'Age':27}
age_df.loc[len(age_df.index)]={'Sno':104,'Age':29}
age_df.loc[len(age_df.index)]={'Sno':103,'Age':32}
age_df.loc[len(age_df.index)]={'Sno':105,'Age':53}

In [ ]:
#left join
left_join=pd.merge(age_df,marks_df,how='left',on='Sno')
print(left_join.shape)
left_join.tail()

 **Marks=Nan** confirms the left join.

In [ ]:
#right join
right_join=pd.merge(marks_df,age_df,how='right',on='Sno')
print(right_join.shape)
right_join.tail()

**Marks=Nan** confirms the right join in this case as the order of input frames is also reversed.

#### Full outer join
One last time, lets modify the marks frame also to test **Full outer join.**

In [ ]:
marks_df.loc[len(marks_df.index)]={'Sno':106,'Marks':79}
marks_df.tail()

In [ ]:
#outer join
out_join=pd.merge(marks_df,age_df,how='outer',on='Sno')
print(out_join.shape)
out_join.tail(10)

Row index **100** is added in putput which confirms the **full outer join**

<a id="content13"></a>
## 12. Groupby

Let's get back to our titanic dataset.

In [ ]:
df.head()

#### Before, we move onto Groupby in pandas, lets recollect groupby from SQL. A SQL query, may contain hese parts (some might be optional like having etc...):


1. Table name (**from**)
2. Some condition to filter rows (**where clause**)
3. Attribute to groupby on (**groupby attributes**)
4. Filter rows after groupby (**having clause**)
5. Display attributes in the final result. (**select**)


##### Let's now see how to mimic this in Pandas ;)

In [ ]:
df.head()

In [ ]:
groups=df.groupby(['Pclass'])
# uncomment this:
# groups.groups
groups.get_group(1) # Give some another no say 2 or 3 for its Pclass.

#### Average Age per Pclass

In [ ]:
df_grp1=df.groupby(['Pclass'])
#df_grp1.head()

In [ ]:
#Average Age per Pclass
df_grp1['Age'].mean()

In [ ]:
# Min/Max age per Pclass
df_grp1['Age'].min() #max()

In [ ]:
# Count
df_grp1['Age'].count()

#### Using agg() function.
We can use the aggregate fucntion to aggregate results based on some column  or our custom condition

In [ ]:
df=train.copy()
df.head()

In [ ]:
# Average per Pclass using 'agg' this time
df_grp2=df.groupby(['Pclass']).agg({'Age':lambda x: np.mean(x)})
df_grp2.head()

In [ ]:
# Min/Max,count,Sum for each Pclass usign agg function
df_grp3=df.groupby(['Pclass']).agg({'Age':'min'}).rename(columns={'Age':'Min Age'})
# Use 'max'/'sum' etc. for that operation. Note that this ignores 'nan' values.
df_grp3.head()

In [ ]:
# Names of all the pasengers in that class.
df_grp4=df.groupby(['Pclass']).agg({'Name':lambda x:', '.join(x)})
df_grp4.head()

In [ ]:
df.head()

##### Note one thing that we can use multile agg functions on a single attribute by providing list in value part.

In [ ]:
df_grp5=df.groupby(['Pclass']).agg({'Age':['max','min']})
df_grp5.head() # Creates a MultiOndex Dataframe

## Bonus: Iterating over rows in dataframe

In [ ]:
df.head()

In [ ]:
for index,row in df.iterrows():
    # do something with row, say:
    #print(row)
    pass

##### Ideally for this we can use 'apply' method also as we saw in adding/modifying the column section.

#### Hope you found it useful, and if you did, make sure to drop a .

#### Thanks, Bye!

## Link to other kernels in this series:

i. [Numpy: A Complete Guide to Numpy](https://www.kaggle.com/code/rajmehra03/a-complete-guide-to-numpy/) &

ii. [Python for DSA interviews.](https://www.kaggle.com/rajmehra03/python-for-dsa-interviews/)

## Rough

In [ ]:
arr1=np.random.randint(100,size=(100,1))
arr2=np.random.randint(100,size=(100))
arr1

In [ ]:
arr2

#### Note the differnce in arr1 and arr2 above !