In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
robikscube_flight_delay_dataset_20182022_path = kagglehub.dataset_download('robikscube/flight-delay-dataset-20182022')

print('Data source import complete.')

In [ ]:
import pandas as pd
import sys
print(sys.version)
print('pandas version', pd.__version__)

3.10.12 | packaged by conda-forge | (main, Jun 23 2023, 22:40:32) [GCC 12.3.0]
pandas version 2.0.3

## Reading from files

In [ ]:
df = pd.read_parquet("/kaggle/input/flight-delay-dataset-20182022/Combined_Flights_2022.parquet")

In [ ]:
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [ ]:
df.shape

(4078318, 61)

## Writing to files

In [ ]:
df.to_csv("/kaggle/working/Combined_Flights_2022.csv", index=False)

## Dataframe basics

In [ ]:
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [ ]:
df.shape

(4078318, 61)

In [ ]:
pd.set_option("display.max_columns", 500)

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
df.sample(3, random_state=42)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
324021,2022-03-19,SkyWest Airlines Inc.,ASE,DEN,False,False,1831,1826.0,0.0,-5.0,...,1845.0,1916.0,7.0,1933,-10.0,0.0,-1.0,1900-1959,1,0
34739,2022-02-16,SkyWest Airlines Inc.,TYS,DEN,False,False,1605,1605.0,0.0,0.0,...,1614.0,1728.0,44.0,1737,35.0,1.0,2.0,1700-1759,5,0
304494,2022-01-18,American Airlines Inc.,LAX,OGG,False,False,1719,1714.0,0.0,-5.0,...,1728.0,2042.0,10.0,2049,3.0,0.0,0.0,2000-2059,10,0

In [ ]:
df.sample(frac=0.000001, random_state=42)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
324021,2022-03-19,SkyWest Airlines Inc.,ASE,DEN,False,False,1831,1826.0,0.0,-5.0,...,1845.0,1916.0,7.0,1933,-10.0,0.0,-1.0,1900-1959,1,0
34739,2022-02-16,SkyWest Airlines Inc.,TYS,DEN,False,False,1605,1605.0,0.0,0.0,...,1614.0,1728.0,44.0,1737,35.0,1.0,2.0,1700-1759,5,0
304494,2022-01-18,American Airlines Inc.,LAX,OGG,False,False,1719,1714.0,0.0,-5.0,...,1728.0,2042.0,10.0,2049,3.0,0.0,0.0,2000-2059,10,0
205451,2022-01-23,Southwest Airlines Co.,LAS,BWI,False,False,1515,1533.0,18.0,18.0,...,1548.0,2259.0,3.0,2235,27.0,1.0,1.0,2200-2259,9,0

In [ ]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [ ]:
df.index

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       590532, 590533, 590534, 590535, 590536, 590537, 590538, 590539, 590540,
       590541],
      dtype='int64', length=4078318)

## Dataframe summary

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4078318 entries, 0 to 590541
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               datetime64[ns]
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       int64
dtypes: bool(2), datetime64[ns](1), float64(18), int64(23), object(17)
memory usage: 1.8+ GB

In [ ]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 4078318 entries, 0 to 590541
Columns: 61 entries, FlightDate to DivAirportLandings
dtypes: bool(2), datetime64[ns](1), float64(18), int64(23), object(17)
memory usage: 1.8+ GB

In [ ]:
df.describe()

,FlightDate,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,...,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,4078318,4.078318e+06,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,...,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,4.078318e+06,3.944916e+06,3.944916e+06,3.944916e+06,4.078318e+06,4.078318e+06
mean,2022-04-18 12:10:43.903097600,1.329587e+03,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,...,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,1.486058e+03,7.528486e+00,2.164715e-01,-6.256103e-02,3.663516e+00,3.685098e-03
min,2022-01-01 00:00:00,1.000000e+00,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
25%,2022-02-25 00:00:00,9.140000e+02,9.170000e+02,0.000000e+00,-5.000000e+00,1.046000e+03,0.000000e+00,6.000000e+01,8.900000e+01,8.300000e+01,...,1.100000e+01,9.320000e+02,1.044000e+03,4.000000e+00,1.103000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00
50%,2022-04-19 00:00:00,1.320000e+03,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,...,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,1.513000e+03,-5.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
75%,2022-06-11 00:00:00,1.735000e+03,1.744000e+03,1.100000e+01,1.100000e+01,1.914000e+03,1.000000e+01,1.410000e+02,1.710000e+02,1.670000e+02,...,1.900000e+01,1.758000e+03,1.909000e+03,9.000000e+00,1.920000e+03,1.000000e+01,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
max,2022-07-31 00:00:00,2.359000e+03,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,...,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,2.359000e+03,7.232000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00
std,NaN,4.904801e+02,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,...,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.185078e+02,5.524625e+01,4.118393e-01,2.487442e+00,2.320848e+00,1.141331e-01

In [ ]:
df[["Airline"]].describe()

                       Airline
count                  4078318
unique                      21
top     Southwest Airlines Co.
freq                    731925

In [ ]:
df.shape, len(df)

((4078318, 61), 4078318)

## Subsetting Columns

In [ ]:
df[['FlightDate', 'Airline', 'Origin']]

       FlightDate                                    Airline Origin
0      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    GJT
1      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    HRL
2      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO
3      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    IAH
4      2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO
...           ...                                        ...    ...
590537 2022-03-31                          Republic Airlines    MSY
590538 2022-03-17                          Republic Airlines    CLT
590539 2022-03-08                          Republic Airlines    ALB
590540 2022-03-25                          Republic Airlines    EWR
590541 2022-03-07                          Republic Airlines    EWR

[4078318 rows x 3 columns]

In [ ]:
df[df.columns[:5]]

,FlightDate,Airline,Origin,Dest,Cancelled
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False
...,...,...,...,...,...
590537,2022-03-31,Republic Airlines,MSY,EWR,False
590538,2022-03-17,Republic Airlines,CLT,EWR,True
590539,2022-03-08,Republic Airlines,ALB,ORD,False
590540,2022-03-25,Republic Airlines,EWR,PIT,False
590541,2022-03-07,Republic Airlines,EWR,RDU,False

In [ ]:
df[[c for c in df.columns if 'Time' in c]]

,CRSDepTime,DepTime,ArrTime,AirTime,CRSElapsedTime,ActualElapsedTime,DepTimeBlk,CRSArrTime,ArrTimeBlk
0,1133,1123.0,1228.0,40.0,72.0,65.0,1100-1159,1245,1200-1259
1,732,728.0,848.0,55.0,77.0,80.0,0700-0759,849,0800-0859
2,1529,1514.0,1636.0,47.0,70.0,82.0,1500-1559,1639,1600-1659
3,1435,1430.0,1547.0,57.0,90.0,77.0,1400-1459,1605,1600-1659
4,1135,1135.0,1251.0,49.0,70.0,76.0,1100-1159,1245,1200-1259
...,...,...,...,...,...,...,...,...,...
590537,1949,2014.0,234.0,NaN,185.0,NaN,1900-1959,2354,2300-2359
590538,1733,1817.0,NaN,NaN,129.0,NaN,1700-1759,1942,1900-1959
590539,1700,2318.0,59.0,135.0,158.0,161.0,1700-1759,1838,1800-1859
590540,2129,2322.0,939.0,NaN,86.0,NaN,2100-2159,2255,2200-2259
590541,1154,1148.0,1556.0,NaN,99.0,NaN,1100-1159,1333,1300-1359

## Select dtypes

In [ ]:
df.select_dtypes('int')

,CRSDepTime,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,...,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,CRSArrTime,DistanceGroup,DivAirportLandings
0,1133,2022,2,4,4,1,19977,4301,20445,4301,...,8,82,11292,1129202,30325,8,82,1245,1,0
1,732,2022,2,4,4,1,19977,4299,20445,4299,...,48,74,12266,1226603,31453,48,74,849,2,0
2,1529,2022,2,4,4,1,19977,4298,20445,4298,...,8,82,11292,1129202,30325,8,82,1639,2,0
3,1435,2022,2,4,4,1,19977,4296,20445,4296,...,48,74,11973,1197302,31973,28,53,1605,2,0
4,1135,2022,2,4,4,1,19977,4295,20445,4295,...,8,82,11292,1129202,30325,8,82,1245,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590537,1949,2022,1,3,31,4,19977,3621,20452,3621,...,22,72,11618,1161802,31703,34,21,2354,5,1
590538,1733,2022,1,3,17,4,19977,3437,20452,3437,...,37,36,11618,1161802,31703,34,21,1942,3,0
590539,1700,2022,1,3,8,2,19977,3413,20452,3413,...,36,22,13930,1393007,30977,17,41,1838,3,0
590540,2129,2022,1,3,25,5,19977,3450,20452,3450,...,34,21,14122,1412202,30198,42,23,2255,2,1
590541,1154,2022,1,3,7,1,19977,3585,20452,3585,...,34,21,14492,1449202,34492,37,36,1333,2,1

## Select as series vs dataframe

In [ ]:
df['Airline']

0         Commutair Aka Champlain Enterprises, Inc.
1         Commutair Aka Champlain Enterprises, Inc.
2         Commutair Aka Champlain Enterprises, Inc.
3         Commutair Aka Champlain Enterprises, Inc.
4         Commutair Aka Champlain Enterprises, Inc.
                            ...
590537                            Republic Airlines
590538                            Republic Airlines
590539                            Republic Airlines
590540                            Republic Airlines
590541                            Republic Airlines
Name: Airline, Length: 4078318, dtype: object

In [ ]:
df[['Airline']]

                                          Airline
0       Commutair Aka Champlain Enterprises, Inc.
1       Commutair Aka Champlain Enterprises, Inc.
2       Commutair Aka Champlain Enterprises, Inc.
3       Commutair Aka Champlain Enterprises, Inc.
4       Commutair Aka Champlain Enterprises, Inc.
...                                           ...
590537                          Republic Airlines
590538                          Republic Airlines
590539                          Republic Airlines
590540                          Republic Airlines
590541                          Republic Airlines

[4078318 rows x 1 columns]

## loc and iloc

In [ ]:
type(df.iloc[[1]])

pandas.core.frame.DataFrame

In [ ]:
df.iloc[:5, :5]

  FlightDate                                    Airline Origin Dest  Cancelled
0 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    GJT  DEN      False
1 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    HRL  IAH      False
2 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO  DEN      False
3 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    IAH  GPT      False
4 2022-04-04  Commutair Aka Champlain Enterprises, Inc.    DRO  DEN      False

In [ ]:
df.iloc[[5]]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
5,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DEN,TUL,False,False,955,952.0,0.0,-3.0,...,1017.0,1234.0,4.0,1240,-2.0,0.0,-1.0,1200-1259,3,0

In [ ]:
df.iloc[:, 1]

0         Commutair Aka Champlain Enterprises, Inc.
1         Commutair Aka Champlain Enterprises, Inc.
2         Commutair Aka Champlain Enterprises, Inc.
3         Commutair Aka Champlain Enterprises, Inc.
4         Commutair Aka Champlain Enterprises, Inc.
                            ...
590537                            Republic Airlines
590538                            Republic Airlines
590539                            Republic Airlines
590540                            Republic Airlines
590541                            Republic Airlines
Name: Airline, Length: 4078318, dtype: object

In [ ]:
df.iloc[:, [1, 2]]

                                          Airline Origin
0       Commutair Aka Champlain Enterprises, Inc.    GJT
1       Commutair Aka Champlain Enterprises, Inc.    HRL
2       Commutair Aka Champlain Enterprises, Inc.    DRO
3       Commutair Aka Champlain Enterprises, Inc.    IAH
4       Commutair Aka Champlain Enterprises, Inc.    DRO
...                                           ...    ...
590537                          Republic Airlines    MSY
590538                          Republic Airlines    CLT
590539                          Republic Airlines    ALB
590540                          Republic Airlines    EWR
590541                          Republic Airlines    EWR

[4078318 rows x 2 columns]

In [ ]:
df.loc[:, ['Airline', 'Origin']]

                                          Airline Origin
0       Commutair Aka Champlain Enterprises, Inc.    GJT
1       Commutair Aka Champlain Enterprises, Inc.    HRL
2       Commutair Aka Champlain Enterprises, Inc.    DRO
3       Commutair Aka Champlain Enterprises, Inc.    IAH
4       Commutair Aka Champlain Enterprises, Inc.    DRO
...                                           ...    ...
590537                          Republic Airlines    MSY
590538                          Republic Airlines    CLT
590539                          Republic Airlines    ALB
590540                          Republic Airlines    EWR
590541                          Republic Airlines    EWR

[4078318 rows x 2 columns]

## loc filter expressions

In [ ]:
df.loc[df['Airline'] == 'Spirit Air Lines']

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
407040,2022-04-01,Spirit Air Lines,FLL,ORD,True,False,2025,NaN,NaN,NaN,...,NaN,NaN,NaN,2238,NaN,NaN,NaN,2200-2259,5,0
407041,2022-04-02,Spirit Air Lines,FLL,ORD,True,False,2147,NaN,NaN,NaN,...,NaN,NaN,NaN,2359,NaN,NaN,NaN,2300-2359,5,0
407042,2022-04-03,Spirit Air Lines,FLL,ORD,False,False,2147,211.0,264.0,264.0,...,229.0,412.0,9.0,2359,262.0,1.0,12.0,2300-2359,5,0
407043,2022-04-04,Spirit Air Lines,FLL,ORD,False,False,2147,2227.0,40.0,40.0,...,2252.0,29.0,10.0,2359,40.0,1.0,2.0,2300-2359,5,0
407044,2022-04-05,Spirit Air Lines,FLL,ORD,False,False,2200,2252.0,52.0,52.0,...,2305.0,49.0,9.0,12,46.0,1.0,3.0,0001-0559,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142478,2022-03-27,Spirit Air Lines,EWR,LAS,False,False,1700,1705.0,5.0,5.0,...,1814.0,2011.0,8.0,1921,58.0,1.0,3.0,1900-1959,9,0
142479,2022-03-28,Spirit Air Lines,EWR,LAS,False,False,1700,1802.0,62.0,62.0,...,1826.0,2038.0,5.0,1921,82.0,1.0,5.0,1900-1959,9,0
142480,2022-03-29,Spirit Air Lines,EWR,LAS,False,False,1700,1654.0,0.0,-6.0,...,1705.0,1905.0,7.0,1921,-9.0,0.0,-1.0,1900-1959,9,0
142481,2022-03-30,Spirit Air Lines,EWR,LAS,False,False,1700,1709.0,9.0,9.0,...,1801.0,1957.0,7.0,1921,43.0,1.0,2.0,1900-1959,9,0
142482,2022-03-31,Spirit Air Lines,EWR,LAS,True,False,1700,1804.0,64.0,64.0,...,NaN,NaN,NaN,1921,NaN,NaN,NaN,1900-1959,9,0

In [ ]:
df.loc[(df['Airline'] == 'Spirit Air Lines') & (df['FlightDate'] == '2022-03-30')]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
123276,2022-03-30,Spirit Air Lines,FLL,ORD,False,False,2025,2103.0,38.0,38.0,...,2123.0,2300.0,54.0,2238,76.0,1.0,5.0,2200-2259,5,0
123307,2022-03-30,Spirit Air Lines,ORD,FLL,False,False,515,517.0,2.0,2.0,...,540.0,911.0,5.0,915,1.0,0.0,0.0,0900-0959,5,0
123338,2022-03-30,Spirit Air Lines,ORD,FLL,False,False,755,759.0,4.0,4.0,...,815.0,1146.0,7.0,1157,-4.0,0.0,-1.0,1100-1159,5,0
123369,2022-03-30,Spirit Air Lines,FLL,ORD,False,False,1637,1638.0,1.0,1.0,...,1649.0,1830.0,14.0,1850,-6.0,0.0,-1.0,1800-1859,5,0
123424,2022-03-30,Spirit Air Lines,EWR,MYR,False,False,1350,1345.0,0.0,-5.0,...,1358.0,1518.0,13.0,1540,-9.0,0.0,-1.0,1500-1559,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142358,2022-03-30,Spirit Air Lines,CLT,FLL,False,False,850,848.0,0.0,-2.0,...,857.0,1026.0,10.0,1040,-4.0,0.0,-1.0,1000-1059,3,0
142388,2022-03-30,Spirit Air Lines,FLL,CLT,False,False,1420,1415.0,0.0,-5.0,...,1426.0,1610.0,8.0,1621,-3.0,0.0,-1.0,1600-1659,3,0
142420,2022-03-30,Spirit Air Lines,DTW,MSY,False,False,1655,1651.0,0.0,-4.0,...,1700.0,1812.0,13.0,1825,0.0,0.0,0.0,1800-1859,4,0
142451,2022-03-30,Spirit Air Lines,MSY,ORD,False,False,917,916.0,0.0,-1.0,...,927.0,1131.0,12.0,1147,-4.0,0.0,-1.0,1100-1159,4,0
142481,2022-03-30,Spirit Air Lines,EWR,LAS,False,False,1700,1709.0,9.0,9.0,...,1801.0,1957.0,7.0,1921,43.0,1.0,2.0,1900-1959,9,0

In [ ]:
df.loc[~((df['Airline'] == 'Spirit Air Lines') & (df['FlightDate'] == '2022-03-30'))]

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590537,2022-03-31,Republic Airlines,MSY,EWR,False,True,1949,2014.0,25.0,25.0,...,2031.0,202.0,32.0,2354,NaN,NaN,NaN,2300-2359,5,1
590538,2022-03-17,Republic Airlines,CLT,EWR,True,False,1733,1817.0,44.0,44.0,...,NaN,NaN,NaN,1942,NaN,NaN,NaN,1900-1959,3,0
590539,2022-03-08,Republic Airlines,ALB,ORD,False,False,1700,2318.0,378.0,378.0,...,2337.0,52.0,7.0,1838,381.0,1.0,12.0,1800-1859,3,0
590540,2022-03-25,Republic Airlines,EWR,PIT,False,True,2129,2322.0,113.0,113.0,...,2347.0,933.0,6.0,2255,NaN,NaN,NaN,2200-2259,2,1
590541,2022-03-07,Republic Airlines,EWR,RDU,False,True,1154,1148.0,0.0,-6.0,...,1201.0,1552.0,4.0,1333,NaN,NaN,NaN,1300-1359,2,1

## query

In [ ]:
df.query('DepTime > 1130 and (Origin == "DRO")')

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
531,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1524.0,0.0,-5.0,...,1533.0,1623.0,10.0,1639,-6.0,0.0,-1.0,1600-1659,2,0
533,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1134.0,0.0,-1.0,...,1153.0,1236.0,11.0,1245,2.0,0.0,0.0,1200-1259,2,0
1003,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1644.0,75.0,75.0,...,1659.0,1745.0,12.0,1639,78.0,1.0,5.0,1600-1659,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445339,2022-03-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1521.0,0.0,-9.0,...,1548.0,1638.0,7.0,1640,5.0,0.0,0.0,1600-1659,2,0
445977,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1531.0,1.0,1.0,...,1550.0,1640.0,11.0,1640,11.0,0.0,0.0,1600-1659,2,0
445986,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1142.0,7.0,7.0,...,1153.0,1239.0,6.0,1245,0.0,0.0,0.0,1200-1259,2,0
446617,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1741.0,131.0,131.0,...,1806.0,1858.0,11.0,1640,149.0,1.0,9.0,1600-1659,2,0
446626,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1419.0,164.0,164.0,...,1430.0,1516.0,7.0,1245,158.0,1.0,10.0,1200-1259,2,0

In [ ]:
# min_time = 1130
# df.query('DepTime > @min_time and (Origin == "DRO")')  # ValueError: Expression ((DepTime) > (__pd_eval_local_min_time)) & (Series_1_0x200x4c0x3a0x6c0xbf0x7d0x00x0) has forbidden control characters.

min_time = 1130
query_expression = 'DepTime > {} and (Origin == "DRO")'.format(min_time)
df.query(query_expression)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
531,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1524.0,0.0,-5.0,...,1533.0,1623.0,10.0,1639,-6.0,0.0,-1.0,1600-1659,2,0
533,2022-04-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1134.0,0.0,-1.0,...,1153.0,1236.0,11.0,1245,2.0,0.0,0.0,1200-1259,2,0
1003,2022-04-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1644.0,75.0,75.0,...,1659.0,1745.0,12.0,1639,78.0,1.0,5.0,1600-1659,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445339,2022-03-03,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1521.0,0.0,-9.0,...,1548.0,1638.0,7.0,1640,5.0,0.0,0.0,1600-1659,2,0
445977,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1531.0,1.0,1.0,...,1550.0,1640.0,11.0,1640,11.0,0.0,0.0,1600-1659,2,0
445986,2022-03-02,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1142.0,7.0,7.0,...,1153.0,1239.0,6.0,1245,0.0,0.0,0.0,1200-1259,2,0
446617,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1530,1741.0,131.0,131.0,...,1806.0,1858.0,11.0,1640,149.0,1.0,9.0,1600-1659,2,0
446626,2022-03-01,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1419.0,164.0,164.0,...,1430.0,1516.0,7.0,1245,158.0,1.0,10.0,1200-1259,2,0

## Summary Statistics

In [ ]:
df['DepTime'].min()

1.0

In [ ]:
df['DepTime'].max()

2400.0

In [ ]:
df['DepTime'].mean()

1334.3739312789533

In [ ]:
df['DepTime'].std()

505.62193314209236

In [ ]:
df['DepTime'].sum()

5281298567.0

In [ ]:
df['DepTime'].quantile(0.5)

1325.0

In [ ]:
df['DepTime'].quantile([0.25, 0.75])

0.25     917.0
0.75    1744.0
Name: DepTime, dtype: float64

## agg

In [ ]:
df[['DepTime', 'DepDelay', 'ArrTime', 'ArrDelay']].agg(['mean', 'min', 'max'])

          DepTime     DepDelay      ArrTime     ArrDelay
mean  1334.373931    13.090487  1457.886018     7.528486
min      1.000000   -78.000000     1.000000  -100.000000
max   2400.000000  7223.000000  2400.000000  7232.000000

In [ ]:
df[['DepTime', 'DepDelay', 'ArrTime', 'ArrDelay']].agg(
    {
        'DepTime': ['min', 'max'],
        'DepDelay': ['mean'],
        'ArrTime': ['min', 'max']
    }
)

      DepTime   DepDelay  ArrTime
min       1.0        NaN      1.0
max    2400.0        NaN   2400.0
mean      NaN  13.090487      NaN

## Summarize categoricals

In [ ]:
df['Airline'].unique()

array(['Commutair Aka Champlain Enterprises, Inc.',
       'GoJet Airlines, LLC d/b/a United Express',
       'Air Wisconsin Airlines Corp', 'Mesa Airlines Inc.',
       'Southwest Airlines Co.', 'Republic Airlines', 'Endeavor Air Inc.',
       'American Airlines Inc.', 'Capital Cargo International',
       'SkyWest Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways',
       'Delta Air Lines Inc.', 'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'Comair Inc.', 'Horizon Air', 'United Air Lines Inc.'],
      dtype=object)

In [ ]:
df['Airline'].nunique()

21

In [ ]:
df['Airline'].value_counts()

Airline
Southwest Airlines Co.                       731925
Delta Air Lines Inc.                         512114
American Airlines Inc.                       495953
SkyWest Airlines Inc.                        440807
United Air Lines Inc.                        352009
Republic Airlines                            197881
JetBlue Airways                              156793
Envoy Air                                    150758
Endeavor Air Inc.                            142624
Comair Inc.                                  135884
Alaska Airlines Inc.                         129510
Spirit Air Lines                             129208
Frontier Airlines Inc.                        86557
Allegiant Air                                 73504
Mesa Airlines Inc.                            71972
Horizon Air                                   56320
Capital Cargo International                   52827
Commutair Aka Champlain Enterprises, Inc.     44367
Hawaiian Airlines Inc.                        42212
Air Wisconsin Airlines Corp                   40300
GoJet Airlines, LLC d/b/a United Express      34793
Name: count, dtype: int64

In [ ]:
df[['Airline', 'Origin']].value_counts()

Airline                                    Origin
Delta Air Lines Inc.                       ATL       120919
American Airlines Inc.                     DFW        81239
                                           CLT        57914
United Air Lines Inc.                      DEN        46489
Southwest Airlines Co.                     DEN        45398
                                                      ...
Frontier Airlines Inc.                     ICT            1
Mesa Airlines Inc.                         MDT            1
Air Wisconsin Airlines Corp                FWA            1
Commutair Aka Champlain Enterprises, Inc.  DSM            1
GoJet Airlines, LLC d/b/a United Express   MKE            1
Name: count, Length: 2194, dtype: int64

In [ ]:
df[['Airline', 'Origin']].value_counts().reset_index()

                                        Airline Origin   count
0                          Delta Air Lines Inc.    ATL  120919
1                        American Airlines Inc.    DFW   81239
2                        American Airlines Inc.    CLT   57914
3                         United Air Lines Inc.    DEN   46489
4                        Southwest Airlines Co.    DEN   45398
...                                         ...    ...     ...
2189                     Frontier Airlines Inc.    ICT       1
2190                         Mesa Airlines Inc.    MDT       1
2191                Air Wisconsin Airlines Corp    FWA       1
2192  Commutair Aka Champlain Enterprises, Inc.    DSM       1
2193   GoJet Airlines, LLC d/b/a United Express    MKE       1

[2194 rows x 3 columns]

## rank, shift, cumsum

In [ ]:
df[['CRSDepTime']].rank(method='dense')

        CRSDepTime
0            574.0
1            333.0
2            810.0
3            756.0
4            576.0
...            ...
590537      1070.0
590538       934.0
590539       901.0
590540      1170.0
590541       595.0

[4078318 rows x 1 columns]

In [ ]:
df[['CRSDepTime']].rank(method='first')

In [ ]:
df[['CRSDepTime']].shift(1)

In [ ]:
df[['CRSDepTime']].shift(-1)

In [ ]:
df[['CRSDepTime']].shift(3, fill_value=100)

In [ ]:
df[['CRSDepTime']].cumsum()

In [ ]:
df[['CRSDepTime']].cummax()

In [ ]:
df[['CRSDepTime']].cummin()

## Rolling methods

In [ ]:
df[['DepDelayMinutes']].rolling(window=5).mean()

## Clip

In [ ]:
df['DepTime'].clip(1000, 2000)

## Groupby

In [ ]:
df.groupby('Airline')[['DepDelay']].mean()

In [ ]:
df.groupby('Airline')[['DepDelay']].agg(['mean', 'min', 'max'])

In [ ]:
df_agg = df.groupby('Airline')[['DepDelay', 'ArrDelay']].agg(['mean', 'min', 'max'])

In [ ]:
df_agg.columns

In [ ]:
df_agg.columns.to_flat_index()

In [ ]:
df_agg.columns = ["_".join(c) for c in df_agg.columns]

In [ ]:
df_agg

## New columns

In [ ]:
df['DepTime2'] = df['DepTime'] / 60

In [ ]:
df.head(3)

In [ ]:
df = df.assign(DepTime3 = df['DepTime'] / 60)
df.head(3)

## Sorting

In [ ]:
df.sort_values('ArrDelay')

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].sort_values('ArrDelay', ascending=False)

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].sort_values('ArrDelay', ascending=False).reset_index(drop=True)

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].sort_index()

## Missing data

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].isna()

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].isna().sum()

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].dropna(subset=['ArrDelay'])

In [ ]:
df[['FlightDate', 'Airline', 'ArrDelay']].fillna(-999)

In [ ]:
df['ArrDelay'].fillna(df['ArrDelay'].mean())

## Concat

In [ ]:
df1 = df.query('Airline == "Southwest Airlines Co."').copy()
df2 = df.query('Airline == "Delta Air Lines Inc."').copy()

In [ ]:
pd.concat([df1, df2])

In [ ]:
df_stack = pd.concat([df1, df2])

In [ ]:
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

In [ ]:
df_side = pd.concat([df1, df2], axis=1)

In [ ]:
df1.shape, df2.shape, df_stack.shape, df_side.shape

## Merge dataframes

In [ ]:
df1 = df.groupby(['Airline', 'FlightDate'])[['DepDelay']].mean().reset_index()
df2 = df.groupby(['Airline', 'FlightDate'])[['ArrDelay']].mean().reset_index()

In [ ]:
df2

In [ ]:
df1.merge(df2, how="left")

In [ ]:
df1.merge(df2, how="right")

In [ ]:
df1.merge(df2, how="outer")

## Merge suffixes

In [ ]:
pd.merge(df1, df2, on=['Airline', 'FlightDate'])

In [ ]:
pd.merge(df1, df2, on=['Airline'])

In [ ]:
pd.merge(df1, df2, on=['Airline'], suffixes=('_dep', '_arr'))

In [ ]:
pd.merge(df1, df2, left_on=['Airline'], right_on=['Airline'])